$border: 1px solid rgb(112, 112, 112);

.selection-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  >header {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #E0E0E0;
  }

  .content {
    display: flex;

    &.double-item {

      >.content-item {
        width: 50%;

        &:first-child {
          border-right: $border;
        }

        &:last-child {
          border-left: $border;
        }
      }
    }

    &.single-item {
      >.content-item{
        width: 100%;
      }
    }
  }
}