@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import "~utils/styles/variables/global";

:root {
  font-size: 62.5%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-size: 1.4rem;
  background-color: $global-bgcolor;
}

#root {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.app {
  height: 100%;
}