.navigator {
  display: flex;
  width: 45rem;
  max-width: 100vw;
  height: 3rem;

  .nav-item {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;

    &.hidden {
      visibility: hidden;
    }

    > button {
      background-color: white;
      border: none;
      height: 100%;
    }
  }

  .nav-forward {
    justify-content: flex-end;
    padding-right: 2rem;
  }

  .nav-back {
    padding-left: 2rem;
  }
}
